
# Useless images from training
Iteration*
.temp

# Useless latex files
Paper/*

# Useless python files
__pycache__

# Useless analysis files
sql
logging

# Useless files with code
code

# Models
*.pt

# Important file
!Paper/paper.pdf