
# Useless images from training
Iteration*
.temp

# Useless latex files
Paper/*

# Useless python files
__pycache__

# Useless analysis files
sql
logging

# Testing, prototyping, legacy
code
prototyping

# Models
*.pt

# Important file
!Paper/paper.pdf